@model ICollection<TangyRestaurant.Models.Category>
@{
    ViewData["Title"] = "Index";
}

<h2>Category List</h2>
<hr />
<br />

@await Html.PartialAsync("_CreateButtonPartialView") 

<br />
<br />

<div class="form-border">
    <br/>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Display Order</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <td>@category.Name</td>
                    <td>@category.DisplayOrder</td>
                    <td>
                        @await Html.PartialAsync("_TableButtonPartialView", category.Id)
                    </td>
                </tr>
            }
        </tbody> 
    </table>
    @if (Model.Count < 1)
    {
        <p>No categories in db. . .</p>
    }
</div>